h1{
    background-color: gray;
    text-align: center;
    color: yellow !important;
    border-radius:60px;
    font-size:60px;
}
body{
    background-color:#F0F8FF;
    /*background-image: url("../img/cards2.png");*/
}
footer{
    text-align:center;
    /*color:#306EFF;*/
    /*font-weight:bold;*/
    /*background-color:#306EFF;*/
}