h1{
    background-color: gray;
    text-align: center;
    color: #990012 !important;
    border-radius:60px;
    font-size:60px;
}
.piclist{
   border-style: solid;
    border-width: 2px;
    border-color:gray;
    background-color:red;
    alignment-adjust:left;
}
.playerList{
    text-align:right;
    font-size:20px;
}
#blah{
    text-align:right;
    font-size:30px;
    background-color: #66FF99;
    border-radius:12px;
}
#button{
    background-color:red;
    border: 1px groove black;
    height:50px;
   width: 50px;
   font-size:30px;
   text-align:center;
   border-radius:10px;
}
figure{
    text-align:left;
    border:10px;
}
body{
    /*background-color:#dc6a83;*/
    text-align:center;
    background-image: url("../img/card.jpg");
    margin: 0 auto;
     font-family:Verdana, Arial, Georgia;
    
}
footer{
    text-align:center;
    font-size:16px;
    /*color:#306EFF;*/
    /*font-weight:bold;*/
    /*background-color:#306EFF;*/
}
#points{
    color: blue !important;
    text-align: center;
}